{% extends '::base.html.twig' %}

{% block title %}
    Ajouter une réservation
{% endblock %}

{% block gestion_reservations %}
    <a href="index.html" class="waves-effect active"><i class="icon-calender fa-fw" data-icon="v"></i>
        <span class="hide-menu"> Gestion Réservations <span class="fa arrow"></span></span></a>
{% endblock %}

{% block stylesheets %}
    {% stylesheets
        'bundles/itreservation/app/plugins/bower_components/calendar/dist/fullcalendar.css'
        'bundles/itreservation/app/plugins/bower_components/toast-master/css/jquery.toast.css'
        'bundles/itreservation/app/plugins/bower_components/custom-select/custom-select.css'
        'bundles/itreservation/app/plugins/bower_components/switchery/dist/switchery.min.css'
        'bundles/itreservation/app/plugins/bower_components/bootstrap-select/bootstrap-select.min.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Ajouter une réservation</h4></div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Réservations</a></li>
                        <li class="active">Ajouter une Réservations</li>
                    </ol>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- row -->
            <div class="row ">
                <div class="col-md-3">
                    <div class="white-box">
                        <h3 class="box-title">CHOISIR COLLABORATEUR ET DISPOSITIF</h3>
                        <form id="newRes" role="form">

                            <div class="row m-t-10">
                                <div class="col-md-12">
                                    <label class="control-label">Choisir la catégorie</label>
                                    <select name="category-Select" class="form-control select2"
                                            data-placeholder="">
                                        {% for category in categories %}
                                            <option
                                                    {% if category.id == categ_id %}
                                                        selected
                                                    {% endif %}
                                                    value="{{ category.id }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row m-t-10">
                                <div class="col-md-12">
                                    <label class="control-label">Choisir le dispositif</label>
                                    <select name="dispositif-Select" class="form-control select3"
                                            data-placeholder="">
                                        {% for dispo in dispos %}
                                            <option value="{{ dispo.id }}">{{ dispo.model }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row m-t-10">
                                <div class="col-md-12">
                                    <label class="control-label">Choisir l'utilisateur</label>
                                    <select class="form-control select2"
                                            data-placeholder="Utilisateur ..."
                                            name="utilisateur-select">
                                        {% for util in utilisateurs %}
                                            <option value="{{ util.id }}">{{ util.username }}</option>
                                        {% endfor %}

                                    </select>
                                    <a data-dismiss="modal" data-toggle="modal" data-target="#login-user"
                                       class="btn btn-1b m-t-10 btn-warning btn-block" id="connect-user">Utilisateur
                                        non trouvé ?
                                    </a>
                                </div>
                            </div>
                        </form>
                        <hr>
                        <button type="button"
                                class="btn btn-1d m-t-10 btn-danger btn-block waves-effect waves-light save-category">
                            <i class="ti-plus"></i> Ajouter une réservation
                        </button>
                        <hr>


                        <h3 class="box-title">GLISSEZ ET BAISSEZ VOTRE ÉVÉNEMENT</h3>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div id="calendar-events" class="m-t-20">

                                </div>
                                <!-- checkbox -->
                                <div class="checkbox">
                                    <input id="drop-remove" type="checkbox" checked>
                                    <label for="drop-remove">
                                        Supprimer aprés glissement
                                    </label>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div id="calendar-container" class="white-box">
                        <div id="calendar">
                            <div class="center-block loader"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <!-- BEGIN MODAL -->
            <div class="modal none-border" id="my-event">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"><strong>Ajouter une réservation</strong></h4>
                        </div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white waves-effect" data-dismiss="modal">Fermer
                            </button>
                            <button type="button" class="btn btn-success save-event waves-effect waves-light">Créer
                                réservation
                            </button>
                            <button type="button" class="btn btn-danger delete-event waves-effect waves-light"
                                    data-dismiss="modal">Supprimer
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Add Category -->
            <div class="modal fade none-border" id="login-user">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"><strong>Connecter</strong> un utilisateur</h4>
                        </div>
                        <form id="login-form">
                            <div class="modal-body">

                                <div class="form-group">
                                    <label for="login-text" class="control-label">Login:</label>
                                    <input type="text" class="form-control" id="login-text" required>
                                </div>
                                <div class="form-group">
                                    <label for="password-text" class="control-label">Password:</label>
                                    <input type="password" class="form-control" id="password-text" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger waves-effect waves-light">Envoyer</button>
                                <button type="button" class="btn btn-white waves-effect" data-dismiss="modal"
                                        data-toggle="modal" data-target="#add-new-event">Fermer
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- END MODAL -->

        </div>
        <!-- /.container-fluid -->
        <footer class="footer text-center"> 2017 &copy; Elite Admin brought to you by themedesigner.in</footer>
    </div>
{% endblock %}

    {% block scripts %}
        <script>
            var newRes = $("#newRes").html();
            //TODO work with API to get events with structure like this
            var apiPathAdd = "{{ path('ajout_reservation_ajax') }}";
            var apiPathUpdate = "{{ path('modifier_reservation_ajax') }}";
            var apiPathDelete = "{{ path('delete_reservations') }}";
            var apiFetchReservation = "{{ path('fetch_reservation') }}";
            var CalenderEvents = [
                {
                    events: [],
                    //color: 'black',     // an option!
                    textColor: 'black' // an option!
                }];
            $(document).ready(function () {
                fetchReservations();
            });
            $("select[name='dispositif-Select']").change(function () {
                fetchReservations();
            });

            $("select[name='category-Select']").change(function () {
                var id = $("select[name='category-Select'] option:selected").val();
                var url = "{{ path('ajouter_reservation',{'id_categ':'id'}) }}" ;
                url = url.replace("id", id);
                window.location.replace(url);
            });

            function fetchReservations() {
                $('.LoadingRoot').show();
                var idDispo = $("select[name='dispositif-Select'] option:selected").val();
                CalenderEvents[0].events = [];
                $.ajax({
                    type: 'post',
                    url: apiFetchReservation,
                    data: 'id=' + idDispo,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        data.reservations.forEach(function (element) {
                            var eventEditable = Date.parse(element.date_fin) > Date.now();
                            CalenderEvents[0].events.push(
                                {
                                    id: element.id,
                                    title: element.dispositif.model + " pour " + element.user.username,
                                    backTitle: element.dispositif.model + " pour " + element.user.username,
                                    start: new Date(element.date_debut),
                                    end: new Date(element.date_fin),
                                    className: "bg-warning",
                                    dispId: element.dispositif.id,
                                    editable: Date.parse(element.date_fin) > Date.now()
                                }
                            )
                        });
                        console.log(CalenderEvents[0].events);
                        $('#calendar-container').html('<div id="calendar"></div>');
                        initCalender();
                        $('.LoadingRoot').hide();

                    }
                });
            }
        </script>

        {% javascripts
            '@ITReservationBundle/Resources/public/app/plugins/bower_components/toast-master/js/jquery.toast.js'
            '@ITReservationBundle/Resources/public/app/plugins/bower_components/fullcalendar/lib/jquery-ui.min.js'
            '@ITReservationBundle/Resources/public/app/assets/js/custom.min.js'
            '@ITReservationBundle/Resources/public/app/plugins/bower_components/switchery/dist/switchery.min.js'
            '@ITReservationBundle/Resources/public/app/plugins/bower_components/custom-select/custom-select.min.js'
            '@ITReservationBundle/Resources/public/app/plugins/bower_components/bootstrap-select/bootstrap-select.min.js'
            '@ITReservationBundle/Resources/public/app/plugins/bower_components/fullcalendar/lib/moment.min.js'
            '@ITReservationBundle/Resources/public/app/plugins/bower_components/fullcalendar/fullcalendar.min.js'
            '@ITReservationBundle/Resources/public/app/plugins/bower_components/calendar/dist/cal-init.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script>
            // SCript pour configurer un formulaire de login pour les utilisateurs introuvable dans la liste déroulante
            var loginForm = $("#login-form");
            loginForm.on('submit', function () {
                $('.LoadingRoot').show();
                var login = loginForm.find("input[id='login-text']").val();
                var password = loginForm.find("input[id='password-text']").val();
                $.ajax({
                    type: 'POST',
                    url: "http://localhost:8000/api/login_check",
                    //TODO parse time
                    data: 'username=' + login + '&password=' + password,
                    dataType: 'json',
                    success: function (data) {
                        if (data.token) {
                            $("select[name='utilisateur-select']").append(
                                '<option>' + data.token + '</option>'
                            );
                            $.toast({
                                heading: 'Utilisateur ajouté',
                                text: 'Utilisateur ajouté avec succée.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 7000,
                                stack: 6
                            });
                            $('.LoadingRoot').hide();
                            $('#login-user').modal('hide');
                            $('#add-new-event').modal('show');
                        }
                    }
                });
                return false;
            });

            // For select 2
            $(".select2").select2();
            $(".select3").select2();
            $('.selectpicker').selectpicker();
        </script>


    {% endblock %}