{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
        'bundles/itreservation/app/plugins/bower_components/footable/css/footable.core.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block gestion_reservations %}
    <a href="#" class="waves-effect active">
        <i class="icon-calender fa-fw" data-icon="v"></i>
        <span class="hide-menu"> Gestion Réservations
            <span class="fa arrow"></span>
        </span>
    </a>
{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Réservations</h4></div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="{{ path('homepage') }}">Accueil</a></li>
                        <li><a href="{{ path('reservations_list') }}">Réservations</a></li>
                        <li class="active">Liste</li>
                    </ol>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- .row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading"> Liste des réservations entrantes</div>
                        <!-- Tabstyle start -->
                        <div class="panel-wrapper collapse in" aria-expanded="true">
                            <div class="panel-body">
                                <label class="form-inline">Afficher
                                    <select id="demo-show-entries" class="form-control input-sm">
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                    </select> entrées </label>
                                <table id="demo-foo-pagination"
                                       class="table table-bordered color-table success-table m-b-0 toggle-arrow-tiny"
                                       data-page-size="10">
                                    <thead>
                                    <tr>
                                        <th> ID</th>
                                        <th data-toggle="true"> Catégorie</th>
                                        <th data-toggle="true"> Ressource</th>
                                        <th data-hide="phone"> Date début</th>
                                        <th data-hide="phone"> Date fin</th>
                                        <th data-hide="phone"> Collaborateur</th>
                                        <th data-hide="phone"> Pourcentage</th>
                                        <th data-hide="phone"> Supprimer</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for reservation in reservations %}
                                        <tr>
                                            <td>
                                                {{ reservation.id }}
                                            </td>
                                            <td>
                                               {{ reservation.ressource.category }}
                                            </td>
                                            <td>
                                                <a href="{{ path('edit_device',{'id':reservation.ressource.id}) }}">{{ reservation.ressource }}</a>
                                            </td>
                                            <td>{{ reservation.dateDebut | date }}</td>
                                            <td>{{ reservation.dateFin | date }}</td>
                                            <td>{{ reservation.user.username }}</td>
                                            <td>
                                                <div>
                                                    <p><strong>{{ reservation.ressource }}</strong> <span
                                                                class="pull-right text-muted">{{ reservation.getPourcentage["pourcentage"] }}
                                                            % Complete</span>
                                                    </p>
                                                    <div class="progress progress-striped active">
                                                        <div class="progress-bar progress-bar-{{ reservation.getPourcentage["class"] }}"
                                                             role="progressbar"
                                                             aria-valuenow="{{ reservation.getPourcentage["pourcentage"] }}"
                                                             aria-valuemin="0" aria-valuemax="100"
                                                             style="width: {{ reservation.getPourcentage["pourcentage"] }}%">
                                                        </div>
                                                    </div>
                                                </div>

                                            </td>
                                            <td>
                                                {% if(reservation.getPourcentage["pourcentage"]==0) %}
                                                    <a href="{{ path('delete_reservation',{'id':reservation.id}) }}">
                                                        <button id="delete"
                                                                class="btn btn-block btn-outline btn-danger">Supprimer
                                                        </button>
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="5">
                                            <div class="text-right">
                                                <ul class="pagination pagination-split m-t-30"></ul>
                                            </div>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /content -->
                        </div>
                        <!-- /tabs -->

                        <hr>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
        <footer class="footer text-center"> 2017 &copy; Gestion de réservation des ressources</footer>
    </div>
{% endblock %}


{% block scripts %}
    {% javascripts
        '@ITReservationBundle/Resources/public/app/plugins/bower_components/footable/js/footable.all.min.js'
        '@ITReservationBundle/Resources/public/app/assets/js/footable-init.js'
        '@ITReservationBundle/Resources/public/app/assets/js/cbpFWTabs.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        (function () {
            [].slice.call(document.querySelectorAll('.sttabs')).forEach(function (el) {
                new CBPFWTabs(el);
            });
        })();

        function notifier(user_id, date_debut) {
            $('.LoadingRoot').show();
            $.ajax({
                type: 'POST',
                url: "http://localhost:8080/notification",
                //TODO parse time
                data: 'user_id=' + user_id + '&date_debut=' + date_debut,
                dataType: 'json',
                success: function (data) {
                    $('.LoadingRoot').hide();
                },
                error: function (data) {
                    $('.LoadingRoot').hide();
                }

            });
        }
    </script>
{% endblock %}

