{% for notif in notifications %}
<li>
    <a href="#">
        <div>
            <p><strong>{{ notif.reservation.user.username }} a réservé {{ notif.reservation.dispositif.model }} à {{ notif.dateRes | date }}</strong> <span class="pull-right text-muted">{{ notif.reservation.getPourcentage['pourcentage'] }}% Complete</span>
            </p>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-{{ notif.reservation.getPourcentage['class'] }}" role="progressbar"
                     aria-valuenow="{{ notif.reservation.getPourcentage['pourcentage'] }}" aria-valuemin="0" aria-valuemax="100"
                     style="width: {{ notif.reservation.getPourcentage['pourcentage'] }}%">
                </div>
            </div>
        </div>
    </a>
</li>
<li class="divider"></li>
{% endfor %}

{{ render(controller('ITReservationBundle:Notification:unsetNotification', {"notifications":notifications})) }}