{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
    'bundles/itreservation/app/plugins/bower_components/bootstrap-select/bootstrap-select.min.css'
    'bundles/itreservation/app/plugins/bower_components/dropify/dist/css/dropify.min.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block title %} Modifier Dispositif {% endblock %}

{% block gestion_dispositifs %}
    <a href="" class="waves-effect active">
        <i class="icon-screen-smartphone fa-fw" data-icon="v"></i>
        <span class="hide-menu"> Gestion Dispositifs
            <span class="fa arrow">
            </span>
        </span>
    </a>
{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Dispositifs</h4></div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="{{ path('liste_dispositif') }}">Dispositifs</a></li>
                        <li class="active">Modifier dispositif</li>
                    </ol>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading"> Modifier un dispositif</div>
                        {% if (message) %}
                            <h3 class="center-block alert alert-success alert-dismissable">{{ message }}</h3>
                        {% endif %}
                        <div class="panel-wrapper collapse in" aria-expanded="true">
                            <div class="panel-body">
                                {{ form_start(dispositifForm, {'attr' : {'id':'formID','class':'form-horizontal form-bordered'} }) }}
                                <div class="form-body">
                                    <h3 class="box-title">Caractéristiques</h3>
                                    <hr class="m-t-0 m-b-40">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Modéle</label>
                                                <div class="col-md-8">
                                                    {{ form_widget (dispositifForm.modele) }}
                                                    <div class="has-danger">
                                                        <span class="form-control-feedback"> {{ form_errors (dispositifForm.modele) }}</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Résolution</label>
                                                <div class="col-md-8">
                                                    {{ form_widget (dispositifForm.resolution) }}
                                                    <div class="has-danger">
                                                        <span class="form-control-feedback"> {{ form_errors (dispositifForm.resolution) }}</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Systéme d'exploitation</label>
                                                <div class="col-md-8">
                                                    {{ form_widget (dispositifForm.os) }}
                                                    <div class="has-danger">
                                                        <span class="form-control-feedback"> {{ form_errors (dispositifForm.os) }}</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Etat du dispositif</label>
                                                <div class="col-md-8">
                                                    {{ form_widget (dispositifForm.etat) }}
                                                    <div class="has-danger">
                                                        <span class="form-control-feedback"> {{ form_errors (dispositifForm.etat) }}</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Version Systéme</label>
                                                <div class="col-md-8">
                                                    {{ form_widget (dispositifForm.versionOS) }}
                                                    <div class="has-danger">
                                                        <span class="form-control-feedback"> {{ form_errors (dispositifForm.versionOS) }}</span></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Processeur</label>
                                                <div class="col-md-8">
                                                    {{ form_widget (dispositifForm.processeur) }}
                                                    <div class="has-danger">
                                                        <span class="form-control-feedback"> {{ form_errors (dispositifForm.processeur) }}</span></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--/span-->

                                    <!--/row-->
                                    <div class="row">
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">RAM</label>
                                                <div class="col-md-8">
                                                    {{ form_widget (dispositifForm.ram) }}
                                                    <div class="has-danger">
                                                        <span class="form-control-feedback"> {{ form_errors (dispositifForm.ram) }}</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <h3 class="box-title">Gallery</h3>
                                    <button class="btn btn-info waves-effect waves-light add-another-collection-widget"
                                            data-list="#image-fields-list" type="button"><span class="btn-label"><i
                                                    class="fa fa-plus-circle"></i></span>Ajouter Image
                                    </button>
                                    <button class="btn btn-warning waves-effect waves-light remove-collection-widget"
                                            data-list="#image-fields-list" type="button"><span class="btn-label"><i
                                                    class="fa fa-minus-circle"></i></span>Supprimer Image
                                    </button>
                                    <hr class="m-t-0 m-b-40">

                                    <div class="row">
                                        {% for image in dispositifForm.images %}
                                            <li class="col-sm-12 col-md-12 col-xs-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <img src="{{ image.vars.value.getPath() }}{{ image.vars.value.getFileName() }}"
                                                             id="previewHolder" alt="Uploaded Image Preview Holder"
                                                             width="200px"
                                                             height="200px"/>
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ form_widget (image) }}
                                                        {{ form_errors (image) }}
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </div>

                                    <div id="image-fields-list" class="row"
                                         data-prototype="{{ form_widget(dispositifForm.images.vars.prototype)|e }}"
                                         data-widget-tags="{{'<li class="col-sm-12 col-md-12 col-xs-12"></li>'|e }}">
                                    </div>
                                </div>
                                <hr class="m-t-0 m-b-40">
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button type="submit" class="btn btn-success">Envoyer</button>
                                                    <button type="button" class="btn btn-default">Annuler</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{ form_end(dispositifForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--./row-->


        </div>
        <!-- /.container-fluid -->
        <footer class="footer text-center"> 2017 Elite Admin brought to you by themedesigner.in</footer>
    </div>
{% endblock %}

{% block scripts %}
    <!-- Custom Theme JavaScript -->
    {% javascripts
    '@ITReservationBundle/Resources/public/app/plugins/bower_components/bootstrap-select/bootstrap-select.min.js'
    '@ITReservationBundle/Resources/public/app/assets/js/jasny-bootstrap.js'
    '@ITReservationBundle/Resources/public/app/plugins/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js'
    '@ITReservationBundle/Resources/public/app/plugins/bower_components/dropify/dist/js/dropify.min.js'
    '@ITReservationBundle/Resources/public/app/assets/js/jasny-bootstrap.js'
    '@ITReservationBundle/Resources/public/app/plugins/bower_components/dropify/dist/js/dropify.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        jQuery(document).ready(function () {
            $("input[name='appbundle_dispositif[ram]']").TouchSpin({
                min: 0,
                max: 32,
                step: 0.512,
                decimals: 3,
                boostat: 5,
                maxboostedstep: 10,
                postfix: 'RAM'
            });
        });
    </script>
    <!-- jQuery file upload -->
    <script>
        $(document).ready(function () {
            // Basic
            $('.dropify').dropify();
            // Translated
            $('.dropify-fr').dropify({
                messages: {
                    default: 'Glissez-déposez un fichier ici ou cliquez',
                    replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                    remove: 'Supprimer',
                    error: 'Désolé, le fichier trop volumineux'
                }
            });
            // Used events
            var drEvent = $('#input-file-events').dropify();
            drEvent.on('dropify.beforeClear', function (event, element) {
                return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
            });
            drEvent.on('dropify.afterClear', function (event, element) {
                alert('File deleted');
            });
            drEvent.on('dropify.errors', function (event, element) {
                console.log('Has Errors');
            });
            var drDestroy = $('#input-file-to-destroy').dropify();
            drDestroy = drDestroy.data('dropify');
            $('#toggleDropify').on('click', function (e) {
                e.preventDefault();
                if (drDestroy.isDropified()) {
                    drDestroy.destroy();
                } else {
                    drDestroy.init();
                }
            })
        });
    </script>
    <script src="{{ asset('bundles/itreservation/app/assets/js/add-collection-widget.js') }}" type="text/javascript"></script>
{% endblock %}
